body {
  margin: auto;
  display: inline-block;
  text-align: center;
}

#table-container {
  display: inline-block;
  border: 1px solid black;
  width: 700px;
  height: 800px;
}

#dealer-div {
  margin-bottom: 5%;
  width: 90%;
  height: 250px;
  display: inline-block;
  background: red;
}

#dealer-hand-container {
  height: 180px;
  width: 95%;
  background: yellow;
  display: inline-block;
}

.dealer-card {
  margin: 1%;
  height: 150px;
  width: 100px;
  background: blue;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  font-size: 55px;
}

#dealer-stats-container {
  display: inline-block;
  height: 20%;
  width: 95%;
  background: green;
}

#dealer-tally {
  display: inline-block;
  height: 80%;
  width: 30%;
  background: white;
  border: 1px solid black;
  line-height: 50px;
}

#player-stats-container {
  display: inline-block;
  height: 20%;
  width: 95%;
  background: green;
}

.player-stats {
  display: inline-block;
  height: 80%;
  width: 30%;
  background: white;
  border: 1px solid black;
  /*line-height: 50px;*/
}

#player-hand-container {
  height: 180px;
  width: 95%;
  background: yellow;
  display: inline-block;
}

.player-card {
  margin: 1%;
  height: 150px;
  width: 100px;
  background: blue;
  display: inline-block;
  text-align: center;
  line-height: 150px;
  font-size: 55px;
}

#player-div {
  background: red;
  width: 90%;
  height: 300px;
  display: inline-block;
}
